<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TdseSolver_3D2P.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TdseSolver_3D2P.Properties.Settings>
            <setting name="OutputDrive" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="VCode" serializeAs="String">
                <value />
            </setting>
            <setting name="LastRunParams" serializeAs="String">
                <value />
            </setting>
        </TdseSolver_3D2P.Properties.Settings>
    </userSettings>
</configuration>